<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>직원 이름</th>
                <th>직원 나이</th>
                <th>출근 여부</th>
                <th>출근 일수</th>
                <th>급여</th>
                <th>직원 상세설명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp : ${ems}">
                <td th:text="${emp.id}"></td>
                <td th:text="${emp.empName}"></td>
                <td th:text="${emp.empAge}"></td>
                <td th:text="${emp.isWorked}"></td>
                <td th:text="${emp.empWorkCount}"></td>
                <td th:text="${emp.empPay}"></td>
                <td th:text="${emp.empDescription}"></td>
                <td>
                    <a href="#"> <!--th:href="@{/items/edit/{id} (id=${item.id})}"-->
                       class="btn btn-primary" role="button">수정</a>
                </td>
                <td>
                    <a href="#"> <!--th:href="@{/items/delete/{id} (id=${item.id})}"-->
                       class="btn btn-primary" role="button">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-lg btn-info" href="/home">홈으로</a>
</div> <!-- /container -->
</body>
</html>