<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form action="/emp/edit" th:object="${form}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label th:for="empName">직원 이름</label>
            <input type="text" th:field="*{empName}" class="form-control"
                   placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="empGender">성별</label>
            <input type="radio" th:field="*{empGender}" class="form-control-radio" name="empGender" th:value="M"
            >남자
            <input type="radio" th:field="*{empGender}" class="form-control-radio" name="empGender" th:value="W"
            >여자
        </div>
        <div class="form-group">
            <label th:for="empAge">나이</label>
            <input type="number" th:field="*{empAge}" class="form-control"
                   placeholder="나이를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="empPhone">전화번호</label>
            <input type="text" th:field="*{empPhone}" class="form-control"
                   placeholder="전화번호를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="empEmail">이메일</label>
            <input type="email" th:field="*{empEmail}" class="form-control"
                   placeholder="이메일을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="workDate">출근날짜</label>
            <input type="datetime-local" th:field="*{workDate}" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="empWorkCount">직원출근횟수</label>
            <input type="number" th:field="*{empWorkCount}" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="empPay">직원급여</label>
            <input type="number" th:field="*{empPay}" class="form-control">원
        </div>

        <div class="form-group">
            <label th:for="empDescription">직원 상세설명</label>
            <input type="text" style="width:300px;height:200px;font-size:22px;" th:field="*{empDescription}"
                   class="form-control"
                   placeholder="상세설명">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div>
</body>
<style>
    .form-control-radio {
        width: 10px;
    }

</style>
</html>