<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head/>
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>이미지경로</th>
                <th>상품설명</th>
                <th>상품 코드</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.imgPath}"></td>
                <td th:text="${item.itemDes}"></td>
                <td th:text="${item.itemCode}"></td>
                <td>
                    <a href="#" th:href="@{/items/edit/{id} (id=${item.id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
                <td>
                    <a href="#" th:href="@{/items/delete/{id} (id=${item.id})}"
                       class="btn btn-primary" role="button">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-lg btn-info" href="/home">홈으로</a>
</div> <!-- /container -->
</body>
</html>